/* ==========================================================================
   Main
   ========================================================================== */
/* Settings
   ========================================================================== */
/* ==========================================================================
   Settings
   ========================================================================== */
/* Fonts
   ========================================================================== */
/* Colors
   ========================================================================== */
/* Headings
   ========================================================================== */
/* Widths
   ========================================================================== */
/* Transitions
   ========================================================================== */
/* Tools
   ========================================================================== */
/* Generic
   ========================================================================== */
/* ==========================================================================
   Normalize
   ========================================================================== */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Resets
   ========================================================================== */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Base
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
html {
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
}
@media (max-width: 767px) {
  body {
    padding: 4% 8%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 2% 5%;
  }
}
@media (min-width: 1024px) and (max-width: 1679px) {
  body {
    padding: 0 3%;
  }
}
@media (min-width: 1680px) {
  body {
    padding: 0 5%;
  }
}
::-moz-selection {
  background: #dddddd;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #dddddd;
  color: #ffffff;
  text-shadow: none;
}
a {
  color: #000000;
  text-decoration: none;
}
li {
  line-height: 2;
}
/* Objects
   ========================================================================== */
/* ==========================================================================
   Animations
   ========================================================================== */
.o-animation {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.o-fade {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.o-fade-big {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0, 200%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0, 200%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* ==========================================================================
   Grid
   ========================================================================== */
@media (max-width: 1023px) {
  .o-grid {
    display: block;
  }
}
@media (min-width: 1024px) {
  .o-grid {
    display: flex;
  }
}
@media (max-width: 1023px) {
  .o-grid_header {
    margin-bottom: 0.45em;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .o-grid_header {
    width: 27%;
  }
}
@media (min-width: 1280px) and (max-width: 1679px) {
  .o-grid_header {
    width: 35%;
  }
}
@media (min-width: 1680px) {
  .o-grid_header {
    width: 30%;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .o-grid_main {
    width: 65%;
  }
}
@media (min-width: 1280px) and (max-width: 1679px) {
  .o-grid_main {
    width: 65%;
  }
}
@media (min-width: 1680px) {
  .o-grid_main {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .o-grid_half {
    width: 35%;
  }
}
@media (min-width: 1024px) and (max-width: 1679px) {
  .o-grid_half {
    width: 40%;
  }
}
@media (min-width: 1680px) {
  .o-grid_half {
    width: 50%;
  }
}
/* ==========================================================================
   Link
   ========================================================================== */
#o-link {
  position: relative;
  display: inline-block;
  transition: color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#o-link:after {
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;
  height: 1px;
  content: "";
  opacity: 0;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 1.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
  transform-origin: center left;
}
#o-link:hover:after {
  opacity: 1;
  transform: scaleX(1);
}
/* Components
   ========================================================================== */
/* ==========================================================================
   Header
   ========================================================================== */
.c-header {
  padding: 2.5% 0;
}
@media (max-width: 767px) {
  .c-header {
    margin-bottom: 8%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .c-header {
    margin-bottom: 5%;
  }
}
@media (min-width: 1024px) and (max-width: 1679px) {
  .c-header {
    margin-bottom: 4%;
  }
}
@media (min-width: 1680px) {
  .c-header {
    margin-bottom: 4.5%;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .c-header .o-grid {
    align-items: flex-end;
  }
}
@media (min-width: 1280px) {
  .c-header .o-grid {
    align-items: baseline;
  }
}
.c-header_name {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  margin: 0;
  font-size: 2rem;
}
.c-header_title {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  margin: 0;
  color: #262626;
  font-weight: 400;
  font-size: 1.17rem;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .c-header_title {
    margin-bottom: 4px;
  }
}
/* ==========================================================================
   Main
   ========================================================================== */
.c-main_section {
  /* Animation delays
       ========================================================================== */
}
@media (max-width: 767px) {
  .c-main_section {
    margin-bottom: 8%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .c-main_section {
    margin-bottom: 5.5%;
  }
}
@media (min-width: 1024px) and (max-width: 1679px) {
  .c-main_section {
    margin-bottom: 4%;
  }
}
@media (min-width: 1680px) {
  .c-main_section {
    margin-bottom: 4.5%;
  }
}
.c-main_section:nth-child(1) .c-main_heading {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.c-main_section:nth-child(1) .c-main_list {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.c-main_section:nth-child(2) .c-main_heading {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.c-main_section:nth-child(2) .c-main_details {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.c-main_section:nth-child(2) .c-main_list {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.c-main_section:nth-child(3) .c-main_heading {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.c-main_section:nth-child(3) .c-main_list {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.c-main_section:nth-child(4) .c-main_heading {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s;
}
.c-main_section:nth-child(4) .c-main_list {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.c-main_heading {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  margin: 0;
  color: #262626;
  font-size: 1.5rem;
}
.c-main_details {
  position: relative;
  display: inline-block;
  transition: color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  color: #999999;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 2;
}
.c-main_details:after {
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;
  height: 1px;
  content: "";
  opacity: 0;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 1.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
  transform-origin: center left;
}
.c-main_details:hover:after {
  opacity: 1;
  transform: scaleX(1);
}
.c-main_section:nth-child(1) .c-main_details {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.c-main_list {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .c-main_item .o-grid {
    display: flex;
  }
}
.c-main_link {
  display: block;
  transform: translateZ(0);
}
.c-main_link:hover .c-main_name {
  transform: translateX(0);
}
.c-main_link:hover .c-main_name:before {
  opacity: 1;
  transform: scaleX(1);
}
.c-main_link:hover .c-main_url:after {
  opacity: 1;
  transform: scaleX(1);
}
.c-main_name {
  display: block;
  color: #4d4d4d;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-19px);
}
.c-main_name:before {
  float: left;
  width: 19px;
  content: "-\00a0";
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}
@media (max-width: 767px) {
  .c-main_url {
    display: none;
  }
}
@media (min-width: 768px) {
  .c-main_url {
    position: relative;
    display: inline-block;
    transition: color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
    padding-right: 0.25em;
    color: #737373;
    white-space: nowrap;
    font-weight: 300;
    font-style: italic;
  }
  .c-main_url:after {
    position: absolute;
    right: 0;
    bottom: 4px;
    left: 0;
    height: 1px;
    content: "";
    opacity: 0;
    transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 1.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
    transform-origin: center left;
  }
  .c-main_url:hover:after {
    opacity: 1;
    transform: scaleX(1);
  }
}
/* ==========================================================================
   Footer
   ========================================================================== */
.c-footer {
  text-align: right;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 2;
}
@media (max-width: 1023px) {
  .c-footer {
    margin: 7% 0 4% 0;
  }
}
@media (min-width: 1024px) {
  .c-footer {
    margin: 2.5% 0;
  }
}
.c-footer_link {
  position: relative;
  display: inline-block;
  transition: color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  color: #999999;
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}
.c-footer_link:after {
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;
  height: 1px;
  content: "";
  opacity: 0;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 1.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
  transform-origin: center left;
}
.c-footer_link:hover:after {
  opacity: 1;
  transform: scaleX(1);
}
/* Trumps
   ========================================================================== */
/* ==========================================================================
   Utilities
   ========================================================================== */
.u-awwwards:hover {
  color: #3c948b;
}
.u-awwwards:hover:after {
  background-color: #3c948b;
}
.u-modular:hover *:after {
  background-color: #000000;
}
.u-modular:hover *,
.u-modular:hover *:before {
  color: #000000;
}
.u-editorial:hover *:after {
  background-color: #B69E84;
}
.u-editorial:hover *,
.u-editorial:hover *:before {
  color: #B69E84;
}
.u-locomotive:hover *:after {
  background-color: #4D84F1;
}
.u-locomotive:hover *,
.u-locomotive:hover *:before {
  color: #4D84F1;
}
.u-paratech:hover *:after {
  background-color: #ebdc62;
}
.u-paratech:hover *,
.u-paratech:hover *:before {
  color: #ebdc62;
}
.u-muraflex:hover *:after {
  background-color: #e71b23;
}
.u-muraflex:hover *,
.u-muraflex:hover *:before {
  color: #e71b23;
}
.u-hopdeco:hover *:after {
  background-color: #97b1a7;
}
.u-hopdeco:hover *,
.u-hopdeco:hover *:before {
  color: #97b1a7;
}
.u-englishbus:hover *:after {
  background-color: #e22632;
}
.u-englishbus:hover *,
.u-englishbus:hover *:before {
  color: #e22632;
}
.u-greenbeaver:hover *:after {
  background-color: #b5dfa2;
}
.u-greenbeaver:hover *,
.u-greenbeaver:hover *:before {
  color: #b5dfa2;
}
.u-kvell:hover *:after {
  background-color: #B5C6C2;
}
.u-kvell:hover *,
.u-kvell:hover *:before {
  color: #B5C6C2;
}
.u-pomerleau:hover *:after {
  background-color: #00acdb;
}
.u-pomerleau:hover *,
.u-pomerleau:hover *:before {
  color: #00acdb;
}
.u-twitter:hover *:after {
  background-color: #55acee;
}
.u-twitter:hover *,
.u-twitter:hover *:before {
  color: #55acee;
}
.u-medium:hover *:after {
  background-color: #03a87c;
}
.u-medium:hover *,
.u-medium:hover *:before {
  color: #03a87c;
}
.u-github:hover {
  color: #0f0d0e;
}
.u-github:hover *,
.u-github:hover *:before {
  color: #0f0d0e;
}
.u-github:hover:after,
.u-github:hover *:after {
  background-color: #0f0d0e;
}
.u-linkedin:hover *:after {
  background-color: #0976b4;
}
.u-linkedin:hover *,
.u-linkedin:hover *:before {
  color: #0976b4;
}
.u-email:hover *:after {
  background-color: #000000;
}
.u-email:hover *,
.u-email:hover *:before {
  color: #000000;
}
